.header-nav {
  .header-ul {
    display: flex;
    justify-content: space-around;
    padding-inline-start: 0;
    margin-block: 0;
    list-style: none;
    border-bottom: 1px solid  #236ec7;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        font-size: 1.1rem;
        opacity: 0.7;
        transition: all;
        transition-duration: 0.3s;
      }
    }

    .active {
      padding: 0 10px;
      border-bottom: 3px solid grey;
    }
  }

  
}